:root {
    --primary-color: rgb(246, 65, 44);
    --white-color: #fff;
    --black-color: #000;
    --text-color: #bbb;
    --header-height: 120px;
    --navbar-height: 30px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.primary-color {
    color: var(--primary-color) !important;
}

.clear {
    clear: both;
}

/* Responsive */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }

    to {
        transform: scale(var(--growth-to));
    }
}

/* Button */
.btn {
    display: inline-flex;
    color: var(--black-color);
    min-width: 68px;
    height: 32px;
    border: 0px;
    border-radius: 2px;
    font-size: 1.1rem;
    font-weight: 400;
    cursor: pointer;
    background-color: var(--white-color);
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.btn.btn--normal:hover {
    background-color: #ebe5e5;
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

/* Select */
.select-input {
    min-width: 180px;
    height: 32px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    position: relative;
}

.select-input__label {
    font-size: 1.4rem;
}

.select-input__list {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% - 9px);
    border-radius: 2px;
    background-color: var(--white-color);
    list-style: none;
    padding: 8px 16px;
    display: none;
}

.select-input__list::before {
    content: "";
    position: absolute;
    width: 180px;
    height: 2px;
    top: 0%;
    left: 0;
    background-color: transparent;
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__link {
    font-size: 1.4rem;
    color: var(--black-color);
    text-decoration: none;
    display: block;
    padding: 6px 0;
}

.select-input__link:hover {
    color: var(--primary-color);
}